<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button on-click="obtenerClientes">Obtener Clientes</button>

        <table hidden$="{{noCargados}}">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContacName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: true
          }
        };
      }
      obtenerClientes()
      {
        var request = new XMLHttpRequest();
        request.open("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false); // el false lo hace sincrono
        //request.setRequestHeader("Content-Type", "applicaction/json");
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
        // si la peticion ha ido bien
        this.noCargados = false;
      }
      anadirClientes()
      {
        var request = new XMLHttpRequest();
        request.open("POST", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        //request.setRequestHeader("Content-Type", "applicaction/json");
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {"CustomerID":"12345", "ContactName":"pepe", "CompanyName":"Pepes Bar"};
        // en codigo bueno seria this.cliente.CustomerID con los datos recogidos del formulario
        var body = JSON.stringfy(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>


</dom-module>
